<div class="container">
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">CastrumNet</span>
      </div>
      <div class="desc">Your Gateway to RBAC Mastery and AAA Compliance!</div>
    </div>
    <router-outlet></router-outlet>
    <!-- <global-footer [links]="links"> -->
    <global-footer>
      Copyright
      <i class="anticon anticon-copyright"></i>2023
      <a href="//github.com/xq-chia" target="_blank">Zachary Chia</a>
    </global-footer>
  </div>
</div>
