<page-header></page-header>
<div sg-container="3">
    <sg *ngFor="let host of hosts; let idx = index">
        <nz-card nzTitle="{{host.host}}" [nzExtra]="actions" style="height: 185px;">
            <p>Host Id: {{host.hostId}}</p>
            <p>IP Address: {{host.ipAddress}}</p>
        </nz-card>
        <ng-template #actions>
            <a nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                <span nz-icon nzType="ellipsis" nzTheme="outline"></span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item class="text-primary" (click)="edit(host.hostId)">
                        <span nz-icon nzType="edit" nzTheme="outline" class="mr-sm"></span>
                        Edit
                    </li>
                    <li nz-menu-item class="text-error" 
                        nz-popconfirm 
                        nzPopconfirmTitle="Are you sure you want to delete the host?"
                        (nzOnConfirm)="delete(host.hostId)"
                    >
                        <span nz-icon nzType="delete" nzTheme="outline" class="mr-sm"></span>
                        Delete
                    </li>
                </ul>
            </nz-dropdown-menu>
        </ng-template>
    </sg>
    <sg>
        <nz-card (click)="add()" style="height: 185px;" class="d-flex align-items-center text-hover justify-content-center text-xl">
            <div nz-icon nzType="plus" nzTheme="outline" class="d-flex text-xl justify-content-center"></div>
            <p>New Host</p>
        </nz-card>
    </sg>
</div>